<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rxjavalecture">

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".operator.error.ErrorHandlingExampleActivity"></activity>
        <activity android:name=".operator.combining.CombiningExampleActivity" />
        <activity android:name=".rxbinding.RxBindingExampleActivity" />
        <activity android:name=".operator.transform.TransformOperatorExampleActivity" />
        <activity android:name=".operator.create.CreateOperatorExampleActivity" />
        <activity android:name=".subject.SubjectExampleActivity" />
        <activity android:name=".scheduler.SchedulerExampleActivity" />
        <activity android:name=".streamimplementation.StreamImplementationExampleActivity" />
        <activity
            android:name=".introduction.reactive.ReactiveExampleActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".introduction.nonreactive.NonReactiveExampleActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".observerpattern.oberserverpattern.ObserverPatternActivity" />
        <activity android:name=".observerpattern.noneobserverpattern.NoneObserverPatternActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>